<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet"/>

<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="ISO-8859-1" />
<title>ACME Art Gallery</title>
</head>
<body style="background-image: url(../assets/images/sfondo.jpg);">
	<div class="container-fluid" id="header">
		<div class="container-fluid" id="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<img src="/assets/images/logo.png" title="ACME Art Gallery" class="logo" />
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-3"  id="linkhome">
					<a th:href="@{/login}" class="linklogininbar">| Login |</a>
					<a th:href="@{/registrationform}" class="linkhomeinbar"> Registrati |</a>
					</div>
				</div>
			</div>

		</div>
		<div class="container" id="riquadroind">
		<div class="container" id="riquadrologogrande">
		<div class="row">
		<div class="col-md-12">
		<img alt="logo_index" th:src="@{/assets/images/logo850pxneg.png}"  style="width:50%;" id="logoindex"/>
		</div></div>
		<div class="row">
		<div class="col-md-12">
		<p id="scrittabenvenuto">Benvenuto nella galleria d'arte ACME.</p>
		</div>
			
		</div>

		</div></div>
	</div>
</body>
</html>